## GitHub configurations
#GITHUB_USER=<github user>
#GITHUB_PAT=<github pat>
#GITHUB_ORG=<github organization>

## GitLab configuration
#GITLAB_PAT=<gitlab pat>
#GL_ORG=<gitlab organization>

## Grafana configuration
#GRAF_PAT=<grafana pat>
#GRAF_USER=<grafana user>
