---
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: pretty-format-json
        types: [file]     # override `types: [json]`
        files: \.(json|json.tpl)$
        args: [--autofix, --no-sort-keys]
        stages: [commit]
