---
receivers:
    {{ .Name }}:
        sample:
            config: data

service:
    pipelines:
        metrics:
            receivers: [{{ .Name }}]
            processors: []
            exporters: []
