---
receivers:
    {{ .Name }}:
        sample:
            config: data

processors:
    nop:

exporters:
    nop:

service:
    pipelines:
        metrics:
            receivers: [{{ .Name }}]
            processors: []
            exporters: []
