// Copyright The OpenTelemetry Authors
// SPDX-License-Identifier: Apache-2.0

package {{ .Name }} // import "{{ .PackageName }}"

import (
	"errors"
	"strings"

	"go.opentelemetry.io/collector/receiver/scraperhelper"
	"go.uber.org/multierr"
)

// Config that is exposed to this receiver through the OTEL config.yaml
type Config struct {
	scraperhelper.ScraperControllerSettings `mapstructure:",squash"`
	sample                                  Sample `mapstructure:",squash"`
}

type Sample struct {
	config string
}

// Validate the configuration passed through the OTEL config.yaml
func (cfg *Config) Validate() error {
	var err error

	if cfg.sample.config == "" {
		err = multierr.Append(err, errors.New("sample config data is required"))
	} else {
		if cfg.sample.config != strings.ToLower(cfg.sample.config) {
			err = multierr.Append(err, errors.New("sample config data must be lowercase"))
		}
	}

	return err
}
