module {{ .PackageName }}

go 1.21

require (
	github.com/stretchr/testify v1.8.4
	go.opentelemetry.io/collector/component v0.91.0
	go.opentelemetry.io/collector/consumer v0.91.0
	go.opentelemetry.io/collector/otelcol v0.91.0
	go.opentelemetry.io/collector/pdata v1.0.0-rcv0018
	go.opentelemetry.io/collector/receiver v0.91.0
	go.uber.org/multierr v1.11.0
	go.uber.org/zap v1.26.0
)
