# {{ .PackageName }}

What does your receiver do?

## Features

- [x] Write a feature description here

## Getting Started

```yaml
sample: data
```

Here is a more complete example:

```yaml
receivers:
    {{ .Name }}:
        sample: data
service:
    pipelines:
        metrics:
            receivers: [..., {{ .Name }}]
            processors: []
            exporters: [...]
```
