---
name: Build and Test

on:
    pull_request:
        branches: [main]
    push:
        branches: [main]

jobs:
    prep-env:
        name: prepare environment
        strategy:
            matrix:
                go: ['1.19']
        runs-on:
            group: bigger
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - uses: actions/setup-go@v4
              with:
                  go-version: ${{ matrix.go }}
                  cache: false

            - name: Make install-tools
              run: make install-tools

            - name: Make cibuild
              run: make cibuild

            - name: Cache directories
              uses: actions/cache@v2
              with:
                  path: |
                      ~/go/bin
                      ./build
                      ./tmp
                  key: ${{ runner.os }}-make-${{ hashFiles('**/Makefile') }}
                  restore-keys: |
                      ${{ runner.os }}-make-

    lint:
        needs: [prep-env]
        strategy:
            matrix:
                go: ['1.19']
        name: lint
        runs-on:
            group: bigger
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: ${{ matrix.go }}
                  cache: false

            - name: Restore cache
              uses: actions/cache@v2
              with:
                  path: |
                      ~/go/bin
                      ./build
                      ./tmp
                  key: ${{ runner.os }}-make-${{ hashFiles('**/Makefile') }}
                  restore-keys: |
                      ${{ runner.os }}-make-

            - name: Make lint-all
              run: make lint-all

    build:
        name: build
        needs: [prep-env]
        strategy:
            matrix:
                GOOS: [darwin, linux, windows]
                go: ['1.19']
        runs-on:
            group: bigger
        steps:
            - name: Check out code
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: ${{ matrix.go }}
                  cache: false

            - name: Restore cache
              uses: actions/cache@v3
              with:
                  path: |
                      ~/go/bin
                      ./build
                      ./tmp
                  key: ${{ runner.os }}-make-${{ hashFiles('**/Makefile') }}
                  restore-keys: |
                      ${{ runner.os }}-make-

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Cache GOOS
              uses: actions/cache@v3
              id: cachegoos
              with:
                  path: dist/${{ matrix.GOOS }}
                  key: ${{ matrix.GOOS }}-${{ env.sha_short }}

            - name: Run GoReleaser
              uses: goreleaser/goreleaser-action@v4
              if: steps.cache.outputs.cache-hit != 'true'
              with:
                  distribution: goreleaser-pro
                  version: latest
                  args: release --clean --snapshot
              env:
                  GOOS: ${{ matrix.GOOS }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}

    test:
        needs: [prep-env]
        strategy:
            matrix:
                go: ['1.19']
        name: test
        runs-on:
            group: bigger
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: ${{ matrix.go }}
                  cache: false

            - name: Make test-all
              run: make test-all

    go-semantic-release:
        if: ${{ github.ref == 'refs/heads/main' }}
        needs: [lint, build]
        runs-on:
            group: bigger
        permissions:
            contents: write
        steps:
            - name: Run go-semantic-release
              uses: go-semantic-release/action@v1
              with:
                  github-token: ${{ secrets.SEMANTIC_RELEASE_GH_PAT }}
                  changelog-generator-opt: emojis=true
                  allow-initial-development-versions: true
