---
name: PR Linter

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  triage:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
