---
name: PR Linter

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  triage:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: Clone repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
